{% extends 'base.twig' %}

{% block descriptionDino %} 
   
<div class="grid">
    <article>
     
        <h2>Discover the {{dinosaurs.name}}</h2>

        <div class="description">
            {{dinosaurs.description}}
        </div>

        <div class="card"> 
            <img src="{{dinosaurs.avatar}}" alt="{{dinosaurs.name}}" />
            <dl>
                <dt>Name</dt>
                <dd>{{dinosaurs.name}}</dd>
                <dt>Name meaning</dt>
                <dd>{{dinosaurs.name_meaning}}</dd>
                <dt>Diet</dt>
                <dd>{{dinosaurs.diet}}</dd>
                <dt>Height</dt>
                <dd>{{dinosaurs.height}} m.</dd>
                <dt>Length</dt>
                <dd>{{dinosaurs.length}} m.</dd>
                <dt>Weight</dt>
                <dd>{{dinosaurs.weight}} kg.</dd>
            </dl>
        </div>
    
    </article>

    <aside>
        <h3>Top rated dinosaurs</h3>
        {% for dino in random %}
            <a href="">
                <figure>
                    <img src="{{dino.avatar}}" alt="{{dino.name}}" />
                    <figcaption>Discover the {{dino.name}}</figcaption>

                </figure>
            </a>
        {% endfor %}
    </aside>
</div>

{% endblock %} 