{% extends 'base.twig' %}

{% block content %}

{% for dino in dinosaurs %}

<a href="/dinosaurs/{{dino.slug}}">
        <figure>
            <img src="{{dino.avatar}}" alt="{{dino.name}}" />
            <figcaption> Discover the {{dino.slug}} </figcaption>
        </figure>
    </a>

{% endfor %}

{% endblock %}
